
<div class="bg">
    <div class="container" style="margin-bottom:40px;">
        <div class="row justify-content-center align-center text-center">
            <div class="col-md-6 mt-5">
                <div class="home-content">
                    <h1 class="Title">WELCOME</h1>
                    <p class="Content">
                        Thank you for visiting. Feel free to explore and learn more about me and my work.
                    </p>
                    <a href="/about" class="btn-about text-white">FIND OUT MORE</a>
                </div>
            </div>
            
            <div class="col-md-2"></div>

            <div class="col-md-4 mt-5">
                <div class="home-img">
                    <img src="/Assets/images/dice.jpeg" alt="" style = "width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
</div>
