<!--bipin gurunga-->
<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <h1 class="project-title">MY PROJECTS</h1>
            <p class="project-text">
                There are multiple kinds of websites that I would be very interested in 
                learn how to develop them, such as the ones that I mention ahead:
            </p>
        </div>
    </div>

    <div class="row bottom-container text-center">
        <div class="col-md-4">
            <img src="/Assets/images/project0.png" alt="" class="project-img" />
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6 div-text">
            <p class="project-text">
                Kahoot it’s a very dynamic platform where multiple users can make quizzes 
                (all connected at the same time) with multiple choices and in a very 
                interactive way. Nowadays these kinds of websites are taking more relevance 
                due to communication and convivence activities are migrating to digital platforms.
            </p>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
    <path fill="#ffffff" fill-opacity="1" d="M0,120,1440,0,1440,120Z"></path>
</svg>

<div class="middle-container">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 div-text">
                <p class="project-text" style="color:black;">
                    Social media it’s another growing market niche, plenty of new social networks 
                    are being developed every day and there’s almost for sure that you can find 
                    one for almost every topic that you want. Even so, I consider these kinds of 
                    websites as a must-know for any website developer.
                </p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <img src="/Assets/images/project1.jpeg" alt="" class="project-img-rev" />
            </div>
        </div>
    </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 120">
    <path fill="#ffffff" fill-opacity="1" d="M0,0,1440,120,1440,0Z"></path>
</svg>


