
<div class="container">
    <div class="row justify-content-center align-center text-center">
      <div class="col-md-4 mt-5">
        <img src="/Assets/images/IMG_0974.jpeg" alt="" style="max-width: 100%; max-height: 100%;" />
        <div class="text">
          <h1>Bipin Gurung</h1>
          <a href="/assets/resume.pdf" class="btn btn-primary mt-3">View Resume</a>
        </div>
      </div>
  
      <div class="col-md-2"></div>
  
      <div class="col-md-6 mt-5">
        <div class="text">
          <span>
            My name is Bipin Gurung. I am from Nepal. Although I am new to this field, I still enjoy roaming, searching, and constantly clearing up my doubts.
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <svg viewBox="0 0 1440 120">
    <path fill="#ffffff" fill-opacity="1" d="M0,120,1440,120,1440,0Z"></path>
  </svg>
  